body{
    background-color: rgb(172, 172, 172);
    max-width: 900px;
    margin: auto;
}

#title, .subtitle, .post_title{
    color: rgb(0, 96, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.post_title{
    font-size: 16px;
    font-style: italic;
}

.post{
    background: white;
    padding: 15px;
    border-radius: 20px;
    border: 3px solid #0000;
    margin-bottom: 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

#img_perfil{
    width: 100px;

}

#img_perfil, .img_post{
    border-radius: 50px;
}

.img_post{
    border-left: 5px solid rgb(0, 96, 0) ;
    border-bottom: 5px solid rgb(0, 96, 0) ;
    width: 100%;
}

.list_contacts{
    list-style-type: none;
    padding-left: 0%;
}

.list_contacts li a{
    text-decoration: none;
    color: blue;
}
